.vscode/settings.json
*.pyc
**/.vscode/settings.json
Testing/NavxTest/.vscode/settings.json
**/networktables.ini
**/networktables.ini.bak
**/.pytest_cache
Testing/NeoTest/tests/pyfrc_test.py
Testing/NeoTest/.deploy_cfg
